<%= form_for(@user_category) do |f| %>
    <% if @user_category.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user_category.errors.count, "error") %> prohibited this item from being saved:</h2>

          <ul>
            <% @user_category.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br/>
      <%= f.text_field :name, :autofocus => true %>
    </div>
    <div class="actions">
      <%= f.submit :class => 'addCategory-buttonLink' %>
    </div>
<% end %>