<h1>Edit <%= @user_category.name  %></h1>

<%= form_for(@user_category) do |f| %>
  <% if @user_category.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user_category.errors.count, "error") %> prohibited this item from being saved:
      </h2>
    
      <ul>
        <% @user_category.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Edit Name -->
  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name, :autofocus => true %>
  </div>
  
  <h3>
    Feeds asociados a esta categoria:
  </h3>
  
  <table>
    <% FeedUserCategory.all.each do |fuc| %>
      <% if fuc.user_category_id == @user_category.id %>
        <tr>
          <td>
            <!-- TODO: Fix HTML charset -->
            <%= "#{Feed.find(fuc.feed_id).url}" %>
          </td>
          <td>
            <%= link_to 'Eliminar', {:controller => "feed_user_categories", :action => 'destroy', :id => fuc.id},
                                :confirm => "Estas seguro?", :method => :delete %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>


  <div class="actions">
    <%= f.submit :class => 'addCategory-buttonLink' %>
  </div>
<% end %>


<%= link_to 'Back', items_path, { :class=>"category-buttonLink"}%>
