<%= form_for(@feed) do |f| %>
  <% if @feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feed.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @feed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br/>
    <%= f.text_field :url, :autofocus => true, :value => "http://bblfish.net/blog/blog.atom" %>
  </div>

  <div class="actions">
    <%= hidden_field_tag 'category_id', params[:category_id]%>
    <%= f.submit :class => 'addCategory-buttonLink' %>
  </div>
<% end %>
