<br />
<h1>Change Password</h1>
<br />

<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this item from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :password, "New Password" %><br />
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </p>

    <div class="actions">
      <%= f.submit :class => 'addCategory-buttonLink' %>
    </div>
<% end %>


<%= link_to 'Back', edit_user_path, { :class=>"category-buttonLink"}%>
