

- if current_user 
  li.white
    /padding is set to override bootstrap :C
    a href="#{edit_user_path(current_user)}" style="padding-top: 0px; padding-bottom: 0px;"
      img.avatar src="#{current_user.avatar}"
      | #{h current_user.first_name} #{h current_user.last_name}
  li.divider-vertical
  li == link_to 'Log out', log_out_path
- else
  li == link_to 'Sign Up', sign_up_path()
  /li == link_to  'Log In',  log_in_path()
  li == link_to  'Log In',  '#loginForm', :data => {:toggle=>"modal"}

   
  / Modal
  #loginForm.modal.hide.fade tabindex='-1' role='dialog' aria-labelledby='loginFormLabel' aria-hidden='true'
    .modal-header
      button type='button' class='close' data-dismiss='modal' aria-hidden='true' ×
      h3#loginFormLabel Log In
    == form_tag sessions_path do
      .modal-body
        p
          == label_tag :email
          br
          == text_field_tag :email, params[:email], :autofocus => true
        p
          == label_tag :password
          br
          == password_field_tag :password
      .modal-footer
        == link_to "Sign in with Facebook", "/auth/facebook", :class => "btn"
        == submit_tag "Log in", :class => "btn btn-primary"




