// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or vendor/assets/javascripts of plugins, if any, can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file.
//
// WARNING: THE FIRST BLANK LINE MARKS THE END OF WHAT'S TO BE PROCESSED, ANY BLANK LINE SHOULD
// GO AFTER THE REQUIRES BELOW.
//
//= require jquery
//= require jquery_ujs
//= require jquery.turbolinks
//= require_tree .
//= require turbolinks


(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=536164159776235";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

function docRdy(){
  while (typeof (FB) == 'undefined') {
    setTimeout(function () {
      FB.init({appId: "536164159776235", status: true, cookie: true});
      }, 2000
    );
  }
}

$(document).ready(function(){
  docRdy();
});
document.addEventListener("page:load", function(){
  docRdy();
});


function borrarLeido(uriID, source, itemID){
    if(source == "already"){
        $("p#leido_id_"+uriID+", tr#leido_id_"+uriID+", h4#leido_id_"+uriID+", a#leido_id_"+uriID).html("");
        return;
    }
    $("a#leido_id_"+uriID).html("<a data-remote='true' href='/to_reads/create?item_id="+itemID+"' id='later_"+itemID+"' onclick='later("+itemID+")'>Marcar para leer despues</a>");
}

function later(itemID){
  $("a#later_"+itemID).html("<img alt='To read' src='http://ico.io/glyphicons_free/glyphicons/png/glyphicons_266_flag.png' title='To read' />");
}


