//= require facebook


function postToFeed() {

  // calling the API ...
  var obj = {
    method: 'feed',
    redirect_uri: '/',
    link: 'https://developers.facebook.com/docs/reference/dialogs/',

    picture: 'http://freader.herokuapp.com/feedReader_128x128.png',
    name: '<%= @item.name unless @item.nil? %>',
    caption: 'from FeedReadr',
    description: '<%= @item.desc unless @item.nil? %>'
  };

  function callback(response) {
    document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
  }

  FB.ui(obj);
}
