
- content_for :actions do
  - if current_user && params[:category_id]
    li == link_to 'Add Feed', new_feed_path(:category_id => params[:category_id])
    li == link_to 'Edit Category', edit_user_category_path(:id => params[:category_id])
    li == link_to 'Delete Category', {:controller => "user_categories", :action => 'destroy', :id => params[:category_id]},:confirm => "Estas seguro?", :method => :delete


h3
  ==@title


- unless current_user && params[:category_id]
  h5 En esta pagina aparecen todas las noticias de los Feeds que el usuario haya agregado

-if @items.empty?
  p No news right now :C

/#items data-items="#{ json_for @items}"
#items
  -@items.each do |item|
    .media
      -if current_user
        /using where, limit1
          - uReadItem = UserReadItem.where("user_id = ?  AND item_id = ?", current_user.id, item.id).limit(1)
          - trItem    = ToRead.where("      user_id = ?  AND item_id = ?", current_user.id, item.id).limit(1)
          - if uReadItem.to_s.strip.length == 0
            /unread
            == image_tag 'http://ico.io/glyphicons_free/glyphicons/png/glyphicons_266_flag.png', :title => 'To read', :alt => 'To read'
          - else
            /read
            == link_to 'Mark as Unread', :controller => 'user_read_items', :action => 'destroy',:id => uReadItem, :method => :delete
          
        - fueLeido=false
        - uriID=1
        - UserReadItem.all.each do |uri|
          - if uri.user_id == current_user.id && uri.item_id == item.id
            - fueLeido = true
            - uriID    = uri.id
        /Revisa la tabla de ToRead y decide si esta en "leer despues"
        - leerDespues = false
        - trID = 1
        - ToRead.all.each do |tr|
          - if tr.user_id == current_user.id && tr.item_id == item.id
            - leerDespues = true
            - trID        = tr.id
        
        
        /read status
        a.pull-left href="#"
          -if leerDespues
            == image_tag 'http://ico.io/glyphicons_free/glyphicons/png/glyphicons_266_flag.png', :title => 'To read', :alt => 'To read'
        
        
          /-if fueLeido
            h5.pull-right
              /markUnread EyeClose
              == link_to raw(image_tag 'http://ico.io/glyphicons_free/glyphicons/png/glyphicons_052_eye_close.png', :title => 'Mark as Unread', :alt => 'Mark as Unread'), :controller => 'user_read_items', :action => 'destroy',:id => uriID, :method => :delete
          /-else
            -if leerDespues
              h5.pull-right
                /toRead FLAG
              == image_tag 'http://ico.io/glyphicons_free/glyphicons/png/glyphicons_266_flag.png', :title => 'To read', :alt => 'To read'
            -else
              h5.pull-right
                /readLater text
                == link_to 'Read Later', :controller => 'to_reads', :action => 'create',:item_id => item.id, :method => :post
        
      .strong.pull-right
        p id = "leido_id_#{uriID}"
          == "#{time_ago_in_words item.created_at.localtime} ago"
      .strong.pull-right
        p
        - if !leerDespues
          -if fueLeido
            a data-remote="true" id="leido_id_#{uriID}" href="/user_read_items/destroy?method=delete&uri_id=#{uriID}" onclick="borrarLeido(#{uriID}, 'already', #{item.id})" <img alt="Mark as Unread" src="http://ico.io/glyphicons_free/glyphicons/png/glyphicons_052_eye_close.png" title="Mark as Unread" />
            /== link_to raw(image_tag 'http://ico.io/glyphicons_free/glyphicons/png/glyphicons_052_eye_close.png', :title => 'Mark as Unread', :alt => 'Mark as Unread'), :controller => 'user_read_items', :action => 'destroy',:uri_id => uriID, :method => :delete
          -else
            a  data-remote="true" id="later_#{item.id}" href="/to_reads/create?method=post&item_id=#{item.id}" onclick="later(#{item.id})" <img alt="Read Later" src="http://ico.io/glyphicons_free/glyphicons/png/glyphicons_072_bookmark.png" title="Read Later" />
            /== link_to raw(image_tag 'http://ico.io/glyphicons_free/glyphicons/png/glyphicons_072_bookmark.png', :title => 'Read Later', :alt => 'Read Later'), :controller => 'to_reads', :action => 'create',:item_id => item.id, :method => :post
      .media-body
        h4.media-heading id = "leido_id_#{uriID}"
          ==link_to item.title, item
        p id = "leido_id_#{uriID}"
          - if item.abstract.nil?
            /== link_to truncate(strip_tags(sanitize(item.description.gsub(/&nbsp;/i,' '))), :length => 90), item
            == link_to truncate(raw(CGI.unescapeHTML(strip_tags(item.description))), :length => 90), item
          - else
            == link_to truncate(raw(CGI.unescapeHTML(strip_tags(item.abstract))), :length => 90), item


