
- content_for :actions do
  - if current_user
    li == link_to 'Read Original', @item.link, { :class=>"category-buttonLink", :target => '_blank' }
    li == link_to 'Back', item_path(@item), { :class=>"category-buttonLink"}

iframe.container.well.span12 src="#{@item.link}" position="absolute" top="0" bottom="0" style="min-height:100%;"
