- content_for :actions do
  li == link_to 'Read more', read_item_url(@item)
  li == link_to 'Back', items_path
  /:category_id => ucat.id
  - if current_user && current_user.is_admin?
    li == link_to 'Edit', edit_item_path(@item)

//

h2 #{@item.title}
p style="text-align:right;"  #{time_ago_in_words @item.created_at.localtime} ago

hr


- if @item.image_url
  == image_tag @item.image_url, :class => 'img-rounded'
p
  - if @item.description.to_s.length >0
    == @item.description
  - else
    == @item.abstract

hr

p
  == link_to 'Read more', read_item_url(@item), :class => "btn"

  label.uiButton.uiButtonLarge.uiButtonConfirm
    input value="Share on Facebook" onclick="postToFeed(); return false;" type="submit"

hr
.span12
  .fb-comments data-href="#{request.protocol}#{request.host_with_port}#{request.fullpath}" data-width="550" data-num-posts="10"
