// Place all the styles related to the UserCategories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.handle {
  font-size: 12px;
  color: #777;
  cursor: move;
}